/*Feuille de style pour exo2*/

#form {
    margin-top: 2%;
}



h2 {
    text-align: center;

}

.temps {
    text-align: center;
    font-size: 1.5em;
}

.zero {
    text-align: center;
    font-size: 2em;

}

#message {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;
    font-size: 2em;
}