/*Feuille de style pour exo5*/

#form {
    margin-top: 2%;
}



h2 {
    text-align: center;

}

.texte {
    text-align: center;
    font-size: 1.1em;
}

.zero {
    text-align: center;
    font-size: 2em;

}

#message {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;
    font-size: 2em;
}

#billets {
    margin-left: 5%;
    margin-bottom: 10%;
}

#billetDix,
#billetCinq,
#billetUn {
    text-align: center;
    font-size: 2.5em;
}